# Maven build
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Java/IDE
*.class
*.log
*.iml
.idea/
.project
.classpath
.settings/
.DS_Store

# VS Code
.vscode/

# SO / varios
Thumbs.db

# Archivos de ayuda (versiona solo si quieres)