name: CI
on:
  push: { branches: ["**"] }
  pull_request:
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven
      - run: mvn -q -e -B clean test
      - name: Subir reportes JUnit
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: target/surefire-reports
      - run: mvn -q surefire-report:report
      - uses: actions/upload-artifact@v4
        with:
          name: surefire-html
          path: target/reports/surefire.html